* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  padding: 0;

  border: none;
  outline: none;
}

body {
  font-family: 'DM-Sans', sans-serif;

  font-size: 1.5rem;

  color: #f8fafc;
  background: #1b1b1b;
}

button {
  margin: 0;
  padding: 0;

  transition: transform 0.12s ease, box-shadow 0.12s ease;

  border: none;
  outline: none;
}

button:active {
  transform: scale(0.94);

  box-shadow: inset 0 4px 12px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  /* height: 100vh; */
  min-height: 100vh;

  gap: 30px;
}
