/* Inputs */

.inputs {
  display: flex;
  flex-direction: column;

  width: 18.75rem;

  gap: 1.25rem;

  .input-field {
    font-size: 1.05rem;

    width: 100%;
    padding: 15px 1.125rem;

    transition: all 0.2s ease;

    color: #f8fafc;
    border: 2px solid #333333;
    border-radius: 0.625rem;
    background-color: #252525;
  }

  .input-field::placeholder {
    color: #94a3b8;
  }

  .input-field:focus {
    border-color: #ff3b5fde;
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 59, 95, 0.222);
  }

  .input-label {
    font-size: 1.1rem;

    display: block;

    margin-bottom: 10px;
  }

  .weekends {
    font-size: 1.1rem;
  }
}

.input-btn {
  font-size: 1.1rem;

  display: block;

  padding: 15px 18px;

  color: #fff;
  border-radius: 10px;
  background-color: #ff3b5f;
}

/* Toggle box */

.toggle-wrapper {
  font-size: 1.2rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  gap: 10px;
}

.switch {
  position: relative;

  display: inline-block;

  width: 60px;
  height: 28px;
}

.switch input {
  width: 0;
  height: 0;

  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  cursor: pointer;
  transition: 0.4s;

  border-radius: 34px;
  background-color: #ccc;
}

.slider:before {
  position: absolute;
  bottom: 4px;
  left: 4px;

  width: 20px;
  height: 20px;

  content: '';
  transition: 0.4s;

  border-radius: 50%;
  background-color: white;
}

input:checked + .slider {
  background-color: #ff3b5f;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

.common-dates {
  font-size: 1.1rem;
  font-weight: bold;
}
