.modal-window-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  display: flex;
  display: none;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);
}

.card {
  position: relative;

  width: clamp(21.5625rem, 55%, 46.875rem);
  height: 31.25rem;

  background-color: var(--dark-bg);
}

.saved {
  position: absolute;
  top: 0;

  display: none;
  overflow-y: auto;

  width: 100%;
  height: 100%;
}

.save-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.9375rem;
}

.trash-can {
  width: 2.375rem;
  height: 2.375rem;

  transition: all 0.2s ease-out;
}
.trash-can:active {
  transform: scale(1);

  box-shadow: inset 0 4px 12px rgba(0, 0, 0, 0.2);
}

.save-1,
.save-2 {
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.save-1 {
  color: #f2d9ff;
}
.save-2 {
  color: #ffe9d5;
}

.save-1:active,
.save-2:active {
  transform: scale(0.96);

  box-shadow: inset 0 4px 12px rgba(0, 0, 0, 0.2);
}

.saved-month {
  color: #fea2a2;
}
