@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    padding: 2.5rem 0;
  }
  .inputs {
    gap: 1.25rem;
    justify-content: space-around;
  }

  .calendar {
    font-size: 1.2rem;
  }

  .inputs {
    .input-label {
      font-size: 1rem;
    }
  }

  .toggle-wrapper {
    font-size: 1.09rem;
    gap: 0.3125rem;
  }

  .input-btn {
    font-size: 1rem;
  }

  .input-field::placeholder {
    font-size: 1rem;
  }
}
.color-legendary {
  display: flex;
  gap: 0.3125rem;
  .color-wrapper {
    gap: 0.3125rem;
    p {
      flex-basis: auto;
    }
  }
}
