@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    padding: 0.625rem 0 2.5rem 0;
  }
  .inputs {
    gap: 1.25rem;
    justify-content: space-around;
  }

  .calendar {
    font-size: 1.2rem;
  }

  .inputs {
    .input-label {
      font-size: 1rem;
    }
  }

  .toggle-wrapper {
    font-size: 1.09rem;
    gap: 0.3125rem;
  }

  .input-btn {
    font-size: 1rem;
  }

  .input-field::placeholder {
    font-size: 1rem;
  }

  .color-legendary {
    display: flex;
    gap: 0.3125rem;
    .color-wrapper {
      justify-content: space-between;
      p {
        flex-basis: auto;
      }
    }
  }
}

/* Отключение hover эффектов на тач-устройствах */
@media (hover: hover) {
  button:hover {
    background-color: var(--buttons-hover);
  }

  .input-btn:hover {
    background-color: var(--buttons-hover);
  }

  .clear-btn:hover {
    background-color: var(--buttons-hover);
  }

  .trash-can:hover {
    transform: scale(1.2);
  }

  .save-1:hover,
  .save-2:hover {
    color: #9c9c9c;
  }
}
